<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Description</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .page-header {
            min-height: 5px;
            max-height: 10px;
            margin: auto;
        }
        
        body {
            background-color: #F5F5DC;
        }
    </style>

</head>

<body>
    <!-- <div class="page-header">
  		<h1><strong>AI-EVM </strong>
  			<small> <sub>Electronic Voting Machine Powered by AI</sub></small>
  		</h1>
	</div> -->
    <img src="{% static 'img/ecp.png' %}" height="80" width="300">
</body>

</html>